
.info {
    background: #ffffff;
}



body {
    font-family: 'Mr Dafoe', cursive;
    color: #ffffff;
    background: url(../images/background.jpg)center/cover 
    fixed no-repeat;
}

.primary-color {
    color: #ff0000;
};

.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover{
 color: #242424;
}

.secondary-color {
    color: #228B22;
}

/*######header######*/

#header {
    min-height: calc(100vh - 94px);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90 {
    min-height: calc(100vh - 94px);
}

.banner h1 {
    border-top: 6px dotted #ffffff;
    border-bottom: 6px dotted #ffffff;
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft {
    0%{
     transform: translateX(-100px);
     opacity: 0;
    }
    50%{
     transform: translateX(30px);
    }
    100%{
     transform: translateX(0);
     opacity: 1;
    }
}



.main-btn {
    color: #000000;
    font-size: 2rem;
    border: 2px solid #000000;
    transition: all ls ease-in-out;
}

.main-btn:hover {
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff;
}

.italia-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromRight {
    0%{
     transform: translateX(100px);
     opacity: 0;
    }
    50%{
     transform: translateX(-30px);
    }
    100%{
     transform: translateX(0);
     opacity: 1;
    }
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: #ffffff;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.header-link:hover {
    color: #000000;
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*############# navbar ############*/

.navbar {
    background: #ffffff;
    padding: 20px 20px;
    transition: all 1s ease;
}

.navbar-background {
    padding: 5px 20px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    transition: all 2s ease;
    font-size: 23px;
}

.nav-btn {
    background: transparent;
    color: #000000;
    border: 2px solid #000000;
    font-size: 23px;
}

.toggler-btn {
    border: 2px solid #ff0000;
    padding: 5px;
    transition: all 2s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #ff0000;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}



/*############# menu items ############*/

.item-container {
    position: relative;
    /* for the link*/
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0));
    transition: all 2s ease;
}

.item-img {
    transition: all 2s ease;
}

.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 2rem;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    transition: all 2s ease;
    opacity: 0;
}

.item-container:hover .item-link {
   opacity: 1;
}

.item-link:hover {
    color: #ffffff;
    border: 3px solid #ffffff;
    background: #ffffff;
    color: #000000
}

/*##### menu #######*/

#menu {
background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(../images/cover.jpg)center/cover fixed no-repeat;
}

.special {
    border: 3px solid  #228B22;
    position: relative;
}

.special-text  {
    position: absolute;
    top: 0;
    right: 10%;
    background:  #228B22;
    padding: 0 0.4rem;
}

/*###########about########*/

.about-pictures {
    position: relative;
}

.about-image {
    position: absolute;
    width: 200px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%
}

.img-2 {
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top: 45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top: 0%;
}

.about-image:hover {
    outline: 10px solid #ff0000;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
    opacity: 0.5;
}

/*########### team ########*/

.team-icons a {
    color: #3b5998;
    transition: all 2s ease-in-out;
}

.team-icons a:hover {
    color: #000000;
    transform: translateY(-5px);
}

/*########### contact ########*/

.height-60 {
    min-height: 60vh;
}

#contact .card {
    background: rgba (0, 0, 0, 0.5);
    transition: all 2s ease;
}

#contact .card:hover {
    background: rgba (0, 0, 0, 0.8)
}

#contact .input-group-text {
    color: #000000;
}

#contact .card input {
    color: #000000;
}

#contact .card input::placeholder {
    color: #000000;
}

.contact-btn {
  background: transparent;
  transition: all 2s ease-in-out;
}

.contact-btn:hover {
    background: #A9A9A9;
}

/*########### contact ########*/

.copyright {
    color: #000000;
}

#back-to-top {
    background: #ffffff;
    border-radius: 10px;
    display: inline-block;
}

.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 10px;
}

